h1,
.taskPart {
    text-align: center;
    padding: 50px 50px 20px 50px;
}

.listButton {
    background-color: rgb(171, 241, 218);
}

li {
    list-style-type: none;
    /* text-decoration-line: line-through; */
}

.crossed {
    text-decoration-line: line-through;
}